.container{
    display: flex;
    justify-content:space-around;
}

.container_barChart{
    display:flex;
    flex-wrap: wrap;
    width: auto;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 1rem;
    margin: 1%;
}